@font-face {
  font-family: "ABC Monument Grotesk Heavy";
  src: url("https://static1.squarespace.com/static/6751f6f1e4b112346c8372e9/t/685035cba554f52b57a67c13/1750087115724/ABCMonumentGrotesk-Heavy.otf") format("opentype");
}

@font-face {
  font-family: "ABC Monument Grotesk Regular";
  src: url("https://static1.squarespace.com/static/6751f6f1e4b112346c8372e9/t/685035c5dcb56f6aff48188b/1750087109398/ABCMonumentGrotesk-Regular.otf") format("opentype");
}

:root {
  --body-font-line-height: 1.15;
}

* {
  font-family: "ABC Monument Grotesk Regular" !important;
}

.header-nav-item a {
  font-family: "ABC Monument Grotesk Heavy" !important;
}

#header {
  background: transparent !important;
  padding-left: 25px;
  padding-right: 25px;
}

.header .header-announcement-bar-wrapper {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}

.header-title {
  display: none;
}

.header-width-inset .header-inner {
  max-width: 100vw;
}

.header-layout-nav-center .header-actions {
  width: unset;
}

.header-layout-nav-center .header-nav {
  text-align: left;
}

.header-nav-list {
  flex-direction: row-reverse;
  display: flex;
}

.header-nav-list> :nth-child(3) {
  margin-left: auto !important;
}

.header-nav-list>.header-nav-item:last-child {
  margin-left: 0;
}

.video-block>.sqs-block-content,
.video-block .intrinsic,
.video-block .embed-block-wrapper,
.video-block .sqs-native-video {
  height: 100%;
}

.sqs-native-video .native-video-player {
  padding-top: 0;
}

.video-block .video-player {
  padding: 0 !important;
}

.video-block video {
  object-fit: cover !important;
}

.plyr__poster {
  background-size: cover !important;
}

.sqs-block-button-element:hover {
  background-color: transparent !important;
}

.heavy-font {
  font-family: "ABC Monument Grotesk Heavy" !important;
}

.header-actions--right .header-actions-action {
  display: none !important;
}

@media screen and (max-width: 767px) and (orientation: portrait) {

  #header {
    padding: 0;
  }

}

.top-bun,
.patty,
.bottom-bun {
  height: 4px !important;
}

.burger-box {
  width: 21px !important;
}

.burger--active .burger-inner .top-bun {
  transform: translatex(0px) rotate(-135deg);
  width: 21px !important;
}

.burger--active .burger-inner .bottom-bun {
  transform: translatex(0px) rotate(135deg);
  width: 21px !important;
}

.header-menu-nav-wrapper {
  display: flex;
  flex-direction: column-reverse;
  font-size: 20px;
}

#sqs-cart-root {
  margin: 0 39px 0 25px !important;
}

.cart-title {
  font-size: 20px !important;
}

.cart-checkout-button:hover {
  color: black !important;
}

.cart-checkout-button {
  border: 1px solid !important;
  border-color: white;
}

.header-menu-nav {
  margin-top: -75.3906px !important;
}

.artist-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap
}