html,
body {
    overscroll-behavior: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.webgl {
    /* cursor: none !important; */
}

.footer {
    display: flex;
    flex-direction: row-reverse;
    z-index: 1;
    position: fixed;
    right: 1em;
    bottom: 1em;
    width: 100%;
    color: white;
}